/*Selectores*/

* {
    font-family: Verdana,Arial,Tahoma,sans-serif;
}

h1{
    background-color: darkorchid;
    color: white;
    padding: 10px;
}

footer{
    color: blue;
}

#descripcion, #titulo{
    border: 5px solid black;
    padding: 15px;
}

#titulo{
    background-color: blue;
}

.parrafo1{
    font-style: italic;
    font-weight: bold;
}

.parrafo2{
    background-color: forestgreen;
    color: white;
}

#usuario form{
    border: 5px solid gray;
    margin-top: 15px;
    margin-bottom: 15px;
    padding: 20px;
}

#usuario form *{
    display: block;
}

img{
    width: 300px;
    height: 200px;
}

.imgContainer{
    width: 400px;
    height: 300px;
}

/* body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
}*/

.imageContainer {
    display: none; /* Ocultar la imagen por defecto */
    margin-top: 20px;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}